@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}




:root {
    --fream-color: #C8F2EA;
    --pramiry-color: black;
    --fream-color-white: white;
}

h2 {
    font-size: clamp(0.5rem, 4vw, 1.3rem);
}

a:visited,
a:link {
    text-decoration: none;
    color: var(--pramiry-color);
}

.box_categorie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vw;
    margin: 20px 0;
}

.box_categorie~div {
    background-color: var(--fream-color);
    padding: 1vw;
}


.hero_categories {
    margin-top: 20px;
    width: 99vw;
    background-color: var(--fream-color);
}

.hero_categories img {
    width: 99vw;
    border-bottom-left-radius: 90vw;
}

.hero_categories p {
    width: 55vw;
    padding: 10px;
    font-size: clamp(0.4rem, 2.5vw, 1.3rem);

}

.hero_categories h1 {
    width: 55vw;
    padding-left: 12px;
    font-size: clamp(0.2rem, 6vw, 4rem);
}

.box_categorie>h2 {
    width: 99vw;
    height: 5vw;
    justify-content: center;

}

.principale_categories {
    display: flex;
    gap: 10vw;
    width: 99vw;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    justify-content: space-evenly;
    padding: 5px 0;


}




.principale_categories div {
    width: 28vw;
    height: 35vw;
    position: relative;
    scroll-snap-align: start;

}

.principale_categories div img {
    width: 25vw;
    height: 30vw;
    border-radius: 4vw;

}

.principale_categories div>p {
    z-index: 310;
    position: absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: Inter;
    font-size: clamp(0.5rem, 4vw, 1.3rem);
}



.divmarque {
 background-color: var(--fream-color);
 padding: 20px 0;;
 border-top-right-radius: 20px;
 border-top-left-radius: 20px;
 margin-bottom: 1px;
}
.divmarque > h2{ 
 margin:20px ;
}
.marque {
   
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    padding: 1vw;
}


.marque div {
    width: 20vw;
    height: 25vw;
    position: relative;
    border-radius: 1vw;
    background-color: var(--fream-color-white);
}

.marque div img {
    width: 16vw;
    border-radius: 4vw;
    display: flex;
    justify-self: center;
    align-items: center;

}

.marque p {
    z-index: 310;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: Inter;
    font-size: clamp(0.1rem, 3vw, 1rem);
}

.categorie {
    width: 25vw;
    height: 25vw;
    background-color: var(--fream-color);
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.categorie img {
    width: 20vw;
    border-radius: 100%;
       transition:  0.1s ease;
}

.categorie:hover img {
    width: 22vw;
    border-radius: 100%;
    transition:   0.1s ease;
    opacity: 0.6;
}

.categorie:hover h3 {
    color: var(--pramiry-color); transition:  0.3s ease;
}




.categorie p {
    display: none;
}

.categorie h3 {
    z-index: 10;
    position: absolute;
    width: 100%;
    top: 42%;
    text-align: center;
    justify-content: center;
    width: 10vw;
    color: whitesmoke;
    font-size: clamp(0.4rem, 2vw, 1.3rem);
    font-weight: bold;
    font-family: Inter;

}

@media (min-width: 800px) {

    .box_categorie {
        gap: 2vw;
        justify-content: space-evenly;
    }

    .categorie {
        width: max(350px, 30vw);
        height: 14vw;
        background-color: var(--fream-color);
        border-radius: 1.3vw;
        display: flex;
    }


    .categorie:hover h3 {
        color: var(--pramiry-color);
      transition:  0.3s ease;
        font-weight: bold;
    }



    .categorie:hover img {
        border-radius: 100%;
     transition:  0.3s ease;

    }

    .categorie img {
        height: 100%;
        border-radius: 6%;
    }

    .categorie:hover img {
        opacity: 0.75;
       transition:  0.3s ease;
    }

    .categorie p {
        display: block;
        order: 1;
        font-size: clamp(0.3rem, 1.2vw, 1.3rem);
    }

    .categorie h3 {

        z-index: 10;
        position: absolute;
        left: 0;
        top: 30%;
        width: 13.4vw;
        color: whitesmoke;
        font-size: clamp(0.2rem, 2vw, 1rem);

    }

    /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

    .categorie,
    .marque div {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

    .categorie:hover,
    .marque div:hover {
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }


    


    /* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

    .hero_categories {
        width: 99vw;
        background-color: var(--fream-color);
        display: flex;
        justify-content: space-between;
    }

    .hero_categories:hover img {
        border-bottom-left-radius: 10vw;
        border-top-left-radius: 10vw;
      transition:  0.3s ease;
    }

    .hero_categories img {
       transition:  0.3s ease;
        width: 60vw;
        border-bottom-left-radius: 20vw;
        border-top-left-radius: 20vw;
        order: 2;
    }

    .hero_categories div {
        width: 35vw;
        display: flex;
        flex-direction: column;


    }

    .hero_categories p {

        width: 35vw;
        margin-top: 7vw;
        padding: 1vw;
        font-size: clamp(0.4rem, 1.5vw, 1rem);

    }


    .hero_categories h1 {
        width: 30vw;
        font-size: clamp(0.2rem, 3vw, 2rem);
    }

    .box_categorie>h2 {
        width: 99vw;
        height: 5vw;
        justify-content: center;

    }

    .principale_categories {
        display: flex;
        gap: 3vw;
        width: 99vw;
        scroll-snap-type: y mandatory;
        overflow-x: auto;

    }




    .principale_categories div {
        width: 17vw;
        height: 22vw;
        position: relative;
        scroll-snap-align: end;

    }

    .principale_categories div img {
        width: 17vw;
        height: 22vw;
        border-radius: 3vw;

    }

    .principale_categories div>p {
        z-index: 310;
        position: absolute;
        bottom: 8%;
        width: 100%;
        text-align: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-family: Inter;
        font-size: clamp(0.5rem, 4vw, 1.3rem);
    }


}