body{
    overflow-x: hidden;
   
}

.first-img{

    width: 100%;
}

.first-img img{
    display: flex;
    justify-self: center;
    width: 90%;
}

h2{
    text-align: center;
}

.FAQ {
  max-width: 90%;
  margin: auto;
}

details {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  transition: background 0.3s;
}

details:hover {
  background: #f0f0f0;
}

summary {
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

p {
  margin-top: 10px;
  color: #555;
}

.shop-on{
    border: 1px solid #555;
    border-radius: 50px;
    background: #555;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.shop-on >h2{
    margin: 0%;
}

.big-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}

.first-img-shop{
    position: relative;
    right: 50%;
}

.titel-shop-1{
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
    bottom: 60px;
}

.titel-shop-1 >p{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.discription-1{
    position: relative;
    bottom: 70px;
}

.second-img-shop{
    position: relative;
    right: 48%;
    bottom: 40px;
}

.titel-shop-2{
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
    bottom: 90px;
    right: 20%;
}

.titel-shop-2 >p{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.discription-2{
    position: relative;
    bottom: 98px;
}

.contact{
    border:4px solid grey;
    background-color: #C8F2EA;
    width: 95%;
    height: 300px;
    position: relative;
    bottom: 40px;
    margin: auto;
}

.formations{
    display: flex;
    gap: 20px;
    position: relative;
    left: 5%;
    top: 5%;
}

.note{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@media  (min-width: 767px) {
body{
    overflow-x: hidden;
    
}

.first-img{

    width: 100%;
}

.first-img img{
    display: flex;
    justify-self: center;
    width: 100%;
}

h2{
    text-align: center;
}

.FAQ {
  max-width: 90%;
  margin: auto;
}

details {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  transition: background 0.3s;
}

details:hover {
  background: #f0f0f0;
}

summary {
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

p {
  margin-top: 10px;
  color: #555;
}

.shop-on{
    border: 1px solid #555;
    border-radius: 50px;
    background: #555;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.shop-on >h2{
    margin: 0%;
}

.big-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
}
.titel-shop-1{
    border:  2px solid #2EBFA5;
    width: 300px;
    height: 40px;
    border-radius: 25px;
}
.titel-shop-1 >p{
    position: relative;
    left: 20px;
    top: 5px;
}
.titel-shop-2{
    border:  2px solid #2EBFA5;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    
}
.titel-shop-2 >p{
    position: relative;
    left: 20px;
    top: 5px;
}
.titel-shop-1:hover{
    background-color: #2EBFA5;
}
.titel-shop-2:hover{
    background-color: #2EBFA5;
}
.contact{
    border:4px solid grey;
    background-color: #C8F2EA;
    width: 70%;
    height: 300px;
    position: relative;
    bottom: 40px;
    margin: auto;
}

.formations{
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 5%;
}
.name{
    border: 2px solid gray;
    width: 25%;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    
}
.name  >input{
    border: none;
    position: relative;
    left: 10%;
    top: 5px;
}
.email{
    border: 2px solid gray;
    width: 25%;
    height: 30px;
    background-color: white;
    border-radius: 25px;
}
.email  >input{
    border: none;
    position: relative;
    left: 10%;
    top: 5px;
}
.note{
    position: relative;
    bottom: 170px;
    left: 10%;
}

}