* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.informatinproduit {
    padding: 10px;
    max-width: 1280px;
    margin: 0 auto;
}

.images {
    display: flex;
    gap: 15px;
    background-color: #D6F6FD;
    padding: 20px;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 25px;
    margin-bottom: 15px;
}




.img23 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img23 img {
    border: 1px solid rgb(206, 205, 205);
    border-radius: 15px;
    background-color: white;
    width: 450px;
 
}


.info1, .info2 {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 25px;
    border: 1px solid rgb(206, 205, 205);
}

.info1 {
    width: 450px;
}

.info2 {
    width: 450px;
    text-align: center;
}

.btninf1 {
    width: 30px;
    height: 40px;
    font-size: 30px;
}

.btnprd {
    width: 300px;
    height: 43px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgb(246, 227, 192);
    cursor: pointer;
}

.btnprd:hover {
    background-color: rgb(232, 137, 137);
    color: white;
}

.topinfo {
    display: flex;
    gap: 13px;
    margin-bottom: 15px;
}
 .img23 img{
    margin: 10;
   border-radius: 25;
}
.buttominfo {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.serv, .livraison {
    background-color:#C8F2EA;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid rgb(206, 205, 205);
    flex: 1;
}

.serv img, .livraison img {
    border-radius: 25px;
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.toutinfotop {
    background-color: #D6F6FD;
    border-radius: 25px;
    border: 1px solid rgb(222, 222, 222);
    padding: 20px;
    margin-bottom: 15px;
}

.information {
    background-color: #D6F6FD;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid rgb(206, 205, 205);
}

.img23 {
        flex-direction: row;
        gap: 8px;

    }
    
    .img23 img {
        height: 450px;
        flex: 1;
    }
@media (min-width: 1024px) {
    
   
   .info2,.info1{
    width: 600px;
   } 
    
}


