@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);


* {
    margin:0px;

    padding-top: 0px;
    box-sizing: border-box;

}


.informatinproduit {
    padding: 10px;
    max-width: 1280px;
    margin: 0 auto;
}

.images {
    display: flex;
       gap: 10px;
    background-color: #D6F6FD;
    padding: 20px;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 25px;
    margin-bottom: 15px;
}




.img23 {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
       gap: 10px;
}

.img23 img {
    border: 1px solid rgb(206, 205, 205);
    border-radius: 15px;
    background-color: white;
    width: 450px;
    padding: 20px;
}


.info1,
.info2 {
    background-color: #BBEEF9;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid rgb(112, 190, 205);
}

.info1 {
    width: 450px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info2 {
    width: 450px;
    text-align: center;
}

.btninf1 {
    width: 30px;
    height: 40px;
    font-size: 30px;
}

.btninfo1 {
    color: #ffffff;
    font-size: 30px;
    background-color: #28bea379;
    width: 55px;
    height: 40px;
    border-radius: 45px;
    border: 1px solid rgb(208, 250, 245);
    cursor: pointer;
}

.btninfo2 {
    color: #ffffff;
    font-size: 30px;
    background-color: #28bea379;
    width: 70px;
    height: 40px;
    border-radius: 45px;
    border: 1px solid rgb(208, 250, 245);
    cursor: pointer;
}

.btninfo3 {
    color: #ffffff;
    font-size: 30px;
    background-color: #28bea379;
    width: 55px;
    height: 40px;
    border-radius: 45px;
    border: 1px solid rgb(208, 250, 245);
    cursor: pointer;
}

.buttoncont {
    align-items: center;
    border-radius: 25px;
    padding: 8px 8px 8px 8px;
    margin: 10px;

}

.btnprd {
    color: #ffffff;
    font-size: 21px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid rgb(208, 250, 245);
    background-color: #28bea379;
    cursor: pointer;
    transition: width 0.3s ease;
}

.btnprd:hover {
    width: 320px;
    background-color: rgb(160, 204, 255);
    color: white;
}


.topinfo {
    display: flex;
      gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.img23 img {
    margin: 5px;
    border-radius: 25;
}

.buttominfo {
    display: flex;
    justify-content: space-between;
       gap: 10px;
}

.serv,
.livraison {
    background-color: #BBEEF9;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
      gap: 10px;
    border: 1px solid rgb(206, 205, 205);
    flex: 1;
    
}

.serv img,
.livraison img {
    border-radius: 25px;
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.toutinfotop {
    background-color: #D6F6FD;
    border-radius: 25px;
    border: 1px solid rgb(222, 222, 222);
    padding: 15px;
    margin-bottom: 15px;
}

.information {
    background-color: #D6F6FD;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid rgb(206, 205, 205);
}

.img23 {
    flex-direction: row;
      gap: 10px;

}

.images,
.info1,
.info2,
.serv,
.livraison,
.drsct1,
.images {
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.1);
}

.img23 img {
    height: 450px;
    flex: 1;
}
.dernierSection img{
     border-radius: 25px;
}
.dernierSection {
  padding: 20px;
  display: flex;
  cursor: pointer;
  
  
}
.drsct1:hover{
  transform:   scale(1.02)  ;
}

.drsct1 {
  background-color: #BBEEF9;
  border-radius: 25px;
   text-align: center;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {

    .info1,
    .info2 {

        min-width: 592px;

    }

    .img23 {
        width: 430px;
    }
   
}


@media (max-width: 768px) {
    .informatinproduit {
        padding: 10px;
    }

    .topinfo {
        flex-direction: column;
        align-items: center;
    }

    .img23 {
        flex-direction: column;
        align-items: center;
    }

    .img23 img {
        width: 90%;
    }

    .info1,
    .info2 {
        width: 95%;
    }

    .buttominfo {
        flex-direction: row;
        gap: 10px;
    }
     .drsct1 {
    width: 45%; 
  }
   .dernierSection {
        flex-direction: column;
    }
}

