@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);


* {
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    
}


.informatinproduit {
    padding: 10px;
    max-width: 1280px;
    margin: 0 auto;
}

.images {
    display: flex;
    gap: 15px;
    background-color: #D6F6FD;
    padding: 20px;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 25px;
    margin-bottom: 15px;
}




.img23 {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

 .img23 img {
    border: 1px solid rgb(206, 205, 205);
    border-radius: 15px;
    background-color: white;
    width: 450px;
    padding: 20px;
}
    

.info1,
.info2 {
    background-color: #BBEEF9;
    padding: 25px;
    border-radius: 25px;
    border: 1px solid rgb(206, 205, 205);
}

.info1 {
    width: 450px;
}

.info2 {
    width: 450px;
    text-align: center;
}

.btninf1 {
    width: 30px;
    height: 40px;
    font-size: 30px;
}

.btninfo1 {
    color: #ffffff;
    font-size: 50px;
    background-color: #2EBFA5;
    width: 55px;
    height: 60px;
    border-radius: 45px;
    border: 1px solid black;
    cursor: pointer;
}

.btninfo2 {
    color: #ffffff;
    font-size: 50px;
    background-color: #2EBFA5;
    width: 70px;
    height: 60px;
    border-radius: 45px;
    border: 1px solid black;
    cursor: pointer;
}

.btninfo3 {
    color: #ffffff;
    font-size: 50px;
    background-color: #2EBFA5;
    width: 55px;
    height: 60px;
    border-radius: 45px;
    border: 1px solid black;
    cursor: pointer;
}

.buttoncont {
    align-items: center;
 
    border-radius: 25px;
    padding: 8px 8px 8px 8px;
    margin: 10px;
      
} 

.btnprd {
    color: #ffffff;
    font-size: 21px;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid black;
    background-color:#2EBFA5;
    cursor: pointer;
    transition: width 0.3 ease;
}

.btnprd:hover {
    transition: scale(0.95);
    background-color: rgb(232, 137, 137);
    color: white;
}
.buttoncont button :hover{
    background-color: beige;
}
.topinfo {
    display: flex;
    gap: 13px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.img23 img {
    margin: 10;
    border-radius: 25;
}

.buttominfo {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.serv,
.livraison {
    background-color: #BBEEF9;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid rgb(206, 205, 205);
    flex: 1;
}

.serv img,
.livraison img {
    border-radius: 25px;
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.toutinfotop {
    background-color: #D6F6FD;
    border-radius: 25px;
    border: 1px solid rgb(222, 222, 222);
    padding: 20px;
    margin-bottom: 15px;
}

.information {
    background-color: #D6F6FD;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid rgb(206, 205, 205);
}

.img23 {
    flex-direction: row;
    gap: 8px;

}

.img23 img {
    height: 450px;
    flex: 1;
}
.drsct1{
    background-color: #BBEEF9;
    border-radius: 25px;
    width: 290px;
    padding: 10px;
    gap: 10px;
}

.dernierSection{
    display: flex;
    justify-content: space-between;
  
    padding : 20px;
    border-radius: 25px;

    width: 100%;
   
}

@media (min-width: 1024px) {

.info1, .info2 {
 
  min-width: 592px;
 
}
   .img23{
    width: 430px;
  }
}


@media (max-width: 768px) {
  .informatinproduit {
    padding: 10px;
  }

  .topinfo {
    flex-direction: column;
    align-items: center;
  }

  .img23 {
    flex-direction:column;
    align-items: center;
  }

  .img23 img {
    width: 90%;
  }

  .info1, .info2 {
    width: 95%;
  }

  .buttominfo {
    flex-direction: row;
    gap: 10px;
  }
}
 .dernierSection img{
     border-radius: 20px;
 }

